ul {
   list-style: none;
   padding-left: 0px;
   margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
}

a {
   text-decoration: none;
   color: inherit
}

img {
   display: block;
   min-width: 100%;
   height: auto;
}
.prm-list {
display: flex;
min-width: 1440px;

/* background-image:  linear-gradient( to bottom,
 rgb(239, 239, 146, 0.5), 
 rgb(102, 254, 102, 0.5)) , url(./icons/Icon\ 1.svg)
; */
gap: 30px;
flex-wrap: wrap;
}

.prm-item {
   display: flex;
   width: 500px;


padding: 30px;
outline: 1px solid blue;
flex-wrap: wrap;
}
.prm-item::before{
content: "";
width: 500px;
height: 100px;
background-image: url(./icons/Ellipse.svg);
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}